/* CSS Variables */
:root {
    --bg-color: #222222;
    --text-color: #dddddd;
    --secondary-color: #8a8a8a44;
    --header-bg-color: #507c8b;
    --secondary-highlight: #507c8b;
    --dark-blue: #143b49;
    --text-shadow-light: 2px 2px 5px rgba(5, 5, 5, 0.541);
    --text-shadow-dark: 2px 2px 5px rgba(24, 24, 24, 0.582);
    --box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.2);
    --gradient-bg: linear-gradient(45deg, var(--dark-blue) 75%, var(--secondary-highlight) 35%);
}

/* Base Styles */
body {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: flex-start;
    align-items: stretch; /* This makes the flex children stretch vertically */
    padding: 0; /* Resetting padding to 0 */
    position: sticky;
    top: 0;
    z-index: 1000;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--secondary-highlight);
    border-radius: 1px;
    background-color: #1f2330;
}

header h1 {
    margin: 0; 
    padding-left: 20px;
    padding-right: 2%;
    display: flex;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--secondary-highlight);
    align-items: center; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: 1px;
}

nav ul li:last-child {
    margin-right: 0;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: var(--secondary-highlight); 
}
nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--text-color);
    text-decoration: none;
    border-style: none;
    border-width:  0;
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: 600;
    font-size: 0.9em;
    min-width: 150px;
    min-height: 55px;
    transition:background-color 0.3s;
    position: relative;
    overflow: hidden;
}
nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0%; /* Starting width */
    background-color: rgba(255, 255, 255, 0.1);
    transition: width 0.3s; 
    z-index: -1;
}

nav ul li a:hover::before {
    width: 100%;
}

@keyframes panBackground {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 15% 15%;
    }
    50% {
        background-position: 20% 5%;
    }
    75% {
        background-position: 0% 15%;
    }
    100% {
        background-position: 0% 0%;
    }
}
