/* CSS Variables */
:root {
    --bg-color: #222222;
    --text-color: #dddddd;
    --secondary-color: #8a8a8a44;
    --header-bg-color: #507c8b;
    --secondary-highlight: #507c8b;
    --dark-blue: #143b49;
    --text-shadow-light: 2px 2px 5px rgba(5, 5, 5, 0.541);
    --text-shadow-dark: 2px 2px 5px rgba(24, 24, 24, 0.582);
    --box-shadow: 2px 2px 5px rgba(5, 5, 5, 0.2);
    --gradient-bg: linear-gradient(45deg, var(--dark-blue) 75%, var(--secondary-highlight) 35%);
}

/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 32px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 10px 10px 10px 10px;
    background: var(--gradient-bg);
    text-shadow: var(--text-shadow-light);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-left: 2px;
}

/* Button Styles */
nav ul li a {
    padding: 10px 20px;
    background-color: var(--secondary-highlight);
    color: var(--text-color);
    text-decoration: none;
    border: none;
    box-shadow: var(--box-shadow);
    font-weight: 600;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    min-width: 150px;
    text-align: center;
    display: inline-block;
    text-shadow: var(--text-shadow-dark);
}

nav ul li:first-child a {
    border-radius: 8px 0 0 8px;
}

nav ul li:last-child a {
    border-radius: 0 8px 8px 0;
}

nav ul li a:hover {
    filter: grayscale();
}

@keyframes panBackground {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 15% 15%;
    }
    50% {
        background-position: 20% 5%;
    }
    75% {
        background-position: 0% 15%;
    }
    100% {
        background-position: 0% 0%;
    }
}
