.table-container {
    padding: 0 20%;
    margin-left: 20%;
    margin-right: 20%;
}

table {
    width: 100%;
    color: rgba(255, 255, 255, 0.75);
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--secondary-highlight);
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    top: 0px;
    z-index: 10;
}


/* Remove borders and spacing from the table */
.table-container table {
    border-collapse: separate; 
    border-spacing: 0px 4px;
}

/* Style for the rows */
.table-container table tr {
    background-color: transparent; /* Make sure the row itself has a transparent background */
}

/* Style for the cells */
.table-container table td, .table-container table th {
    background-color: rgba(255, 255, 255, 0.123); 
    padding: 10px;
}
.table-container table th {
    background-color: var(--secondary-color);
    border-style: solid;
    border-width: 1px 0 1px 0px;
    border-color: var(--secondary-highlight);
}
.table-container table th:first-child{
    border-radius: 4px 0px 0px 4px;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-color: var(--secondary-highlight);
}
.table-container table th:last-child {
    border-radius: 0px 4px 4px 0px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: var(--secondary-highlight);
}
.table-container table tr td:first-child {
    border-radius: 4px 0px 0px 4px;
}

.table-container table tr td:last-child {
    border-radius: 0px 4px 4px 0px;
}
.table-container table tr:hover{
    background-color: rgba(255, 255, 255, 0.203);
}
.controls-table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--secondary-highlight);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 16px;
    margin-top: 16px;
    background-color: var(--secondary-color);
}

.controls-table td {
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

.table-container {
    padding-left: 10%;
    padding-right: 10%;
}

/* Styling for the min_games input field */
input#min_games {
    display: flex;
    background-color: rgba(42, 42, 42, 0.5); /* Similar to .map-wins-container */
    border: 1px solid var(--secondary-highlight);
    color: var(--text-color);
    padding: 8px 12px;
    margin-left: 7%;
    border-radius: 4px;
    font-size: 1em;
    width: 25%; /* Adjust this to fit your layout */
    transition: background-color 0.3s, border 0.3s;
    outline: none; /* Remove browser default focus styling */
    font-family: 'Comfortaa', cursive;
}

input#min_games:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Similar to #queue:hover, #team:hover */
}

input#min_games:focus {
    background-color: rgba(255, 255, 255, 0.1); /* Similar to #queue:focus:hover, #team:focus:hover */
    border: solid var(--secondary-highlight);
    border-radius: 4px;
    color: #ddd;
    border-width: 1px;
    backdrop-filter: blur(10px);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select#queue {
    margin-left: 40%;
    display: flex;
    background-color: rgba(42, 42, 42, 0.5);
    border: 1px solid var(--secondary-highlight);
    color: var(--text-color);
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 1em;
    width: 25%; /* Reduced from 80% to 70% */
    transition: background-color 0.3s, border 0.3s;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
}

select#queue:hover {
    background-color: rgba(56, 56, 56, 0.9); /* Similar to #queue:hover, #team:hover */
}

select#queue:focus {
    background-color: rgba(36, 36, 36, 0.74); /* Similar to #queue:focus:hover, #team:focus:hover */
    border: solid var(--secondary-highlight);
    border-radius: 4px;
    color: #ddd;
    backdrop-filter: blur(10px);
    border-width: 1px;
    outline: none; /* Remove browser default focus styling */
}

