.table-container {
    padding: 0 20%;
    margin-left: 5%;
    overflow-x: auto;
}

table {
    border-collapse: separate; 
    border-spacing: 0px 4px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--secondary-highlight);
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.table-container table td, .table-container table th {
    background-color: rgba(255, 255, 255, 0.123); 
    padding: 10px;
}

.table-container table th:first-child,
.table-container table tr td:first-child {
    border-radius: 8px 0px 0px 8px;
}

.table-container table th:last-child,
.table-container table tr td:last-child {
    border-radius: 0px 8px 8px 0px;
}

.table-container table tr {
    position: relative;
    z-index: 1; 
}

.table-container table tr:hover{
    background-color: rgb(53, 53, 53);
}


table tr.selected {
    background-color: #17572a;
}

table tr.selected:hover {
    background-color: #177433;
}

.controls-table {
    width: 90%;
    margin: 0 auto;
    border: 2px;
    border-radius: 0px 0px 50px 50px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    margin-bottom: 16px;
    background-color: var(--secondary-color);
}

.controls-table td {
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

#player_search {
    padding: 10px;
    border: 0px solid #ccc;
    background-color: rgba(255, 255, 255, 0.781);
    color: #2b2b2b;
    border-radius: 8px;
    font-size: 16px;
    width: 40%; 
    transition: border-color 0.3s, box-shadow 0.3s;
}

#player_search:focus, 
#player_search:hover {
    outline: none;
    border-color: #aaa;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 5px #aaa;
}

table tr {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#move_to_team1,
#move_to_team2 {
    padding: 10px 20px;
    background-color: var(--text-color);
    color: var(--secondary-color);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    min-width: 150px;
    text-align: center;
    display: inline-block;
}

#move_to_team1:hover, 
#move_to_team2:hover {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 5px #aaa;
}
.table-container table th {
    background-color: var(--secondary-highlight);
}
.main-wrapper {
    display: flex;
    height: 100%; /* take the full height of the parent */
    width: 100%; /* Ensure it takes up the full width */
}

.table-container {
    flex: 1;
    padding-right: 0%;
}


.table-container,
.last-match-container {
    width: 30%; /* each container takes up half the width */
    display: flex;
    flex-direction: column;
    align-items: center; /* horizontally center the content */
    overflow-y: auto; /* add scroll if content overflows vertically */
    padding: 2% 2%; /* Add a little padding to both */
}
.greyed-out {
    background-color: #661b1b;
    cursor: not-allowed;
}

.clickable {
    cursor: pointer;
}