.table-container {
    padding: 0 5%;
    overflow-x: auto;
    flex-basis: 30%; /* Take up 30% of the horizontal space */
}

table {
    border-collapse: separate; 
    border-spacing: 0px 4px;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: var(--secondary-highlight);
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.table-container table td, .table-container table th {
    background-color: rgba(255, 255, 255, 0.123); 
    padding: 10px;
}

.table-container table th:first-child,
.table-container table tr td:first-child {
    border-radius: 8px 0px 0px 8px;
}
.table-container table th:first-child,
.table-container table tr td:first-child:hover {
    border-radius: 8px 0px 0px 8px;
}
.table-container table th:last-child,
.table-container table tr td:last-child {
    border-radius: 0px 8px 8px 0px;
}
.table-container table th:last-child,
.table-container table tr td:last-child:hover {
    border-radius: 0px 8px 8px 0px;
}
.table-container table tr {
    position: relative;
    z-index: 1; 
}
.table-container table tr:hover {
    position: relative;
    z-index: 1; 
}
.table-container table tr:hover{
    background-color: rgb(53, 53, 53);
}


table tr.selected {
    background-color: #17572a;
}

table tr.selected:hover {
    background-color: #177433;
}

.controls-table {
    width: 90%;
    margin: 0 auto;
    border: 2px;
    border-radius: 0px 0px 50px 50px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    margin-bottom: 16px;
    background-color: var(--secondary-color);
}

.controls-table td {
    padding: 0px;
    text-align: center;
    vertical-align: middle;
}

#player_search {
    padding: 10px;
    border: 0px solid #ccc;
    background-color: rgba(255, 255, 255, 0.781);
    color: #2b2b2b;
    border-radius: 8px;
    font-size: 16px;
    width: 100%; 
    margin-left: 25%;
}

#player_search:focus, 
#player_search:hover {
    outline: none;
    border-color: #aaa;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 5px #aaa;
}

table tr {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#move_to_team1,
#move_to_team2 {
    padding: 10px 20px;
    color: var(--secondary-color);
    text-decoration: none;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    background-color: var(--dark-blue);
    color: var(--text-color);
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#move_to_team1:hover, 
#move_to_team2:hover {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 5px #aaa;
    color:#444444;
}

#rebalance-teams {
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: var(--text-color);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
    text-align: center;
    display: inline-block;
    margin-left: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
    max-width: 50%;
    box-shadow: 0 0 5px #7760ad;
}

 
#rebalance-teams:hover {
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 5px #aaa;
    color:#444444;
}
.table-container table th {
    background-color: var(--secondary-highlight);
}
.main-wrapper {
    display: flex;
    height: 100%; 
    padding: 2% 5%; /* Top padding and side padding */
    flex-direction: row;
    align-items: flex-start;
}



.matches-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start; 
    flex-basis: 70%; /* Take up 70% of the horizontal space */
}

.match-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    /* margin-right: 5%; */ /* Remove or reduce this */
}


.hidden {
    display: none;
}

.greyed-out {
    background-color: #661b1b;
    cursor: not-allowed;
}
.table-container table tr.greyed-out:hover {
    background-color: #693333;
}

.clickable {
    cursor: pointer;
}
/* Remove player button styling */
.remove-player, .remove-match-player {
    background-color: #e74c3c; /* red color */
    color: #ffffff; /* white color */
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 8px; /* space it a bit from the player name */
    display: inline-block;
    vertical-align: middle;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: -4px; /* Adjust this value to change the distance from the right edge */
    top: 50%; /* center it vertically */
    transform: translateY(-50%);
}

.remove-player:hover, .remove-match-player:hover {
    background-color: #c0392b; /* slightly darker red on hover */
}

/* Ensure the button doesn't look too large in a list */
.player-list .remove-player, .player-list .remove-match-player {
    font-size: 12px;
    padding: 2px 6px;
}
.reset-team-btn {
    background-color: var(--dark-blue);
    color: #FFF;
    border: none; 
    border-style: solid;
    border-width: 1px;
    border-color: #2b2b2b;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
}

.reset-team-btn:hover {
    background-color: #232836;
}

.ranking-table td.move-cell {
    padding: 0;
}

.ranking-table .move-button {
    width: 95%; 
    height: 100%;
    border: none;
    box-sizing: border-box;
    padding: 8px; 
    background-color: var(--secondary-highlight);
    font-weight: bold;
    color:var(--text-color);
}
.ranking-table .move-button:hover {
    background-color: #4d855e;
    box-shadow: 0 0 5px #aaa;
}
.ranking-table .move-button-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ranking-table .move-button-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

