{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/match-history.css') }}">
{% endblock %}
{% block content %}
<table class="controls-table">
    <tr>
        <td style="width: 30%;">
            <form method="GET" action="{{ url_for('match_history') }}" class="player-search-form">
                <input type="text" id="player_search" name="player_search" placeholder="{{ player_name or 'Search for player' }}" />
                <input type="hidden" id="current_queue" name="queue" value="{{ queue }}" />
            </form>            
        </td>
        <td style="width: 40%;">
            <h2 class="header centered-text">Match History</h2>
        </td>
        <td style="width: 10%;">
            <button id="toggle-metrics-btn">Show Accuracy</button></td>
        <td style="width: 20%;">
            <form method="POST" class="date-picker-form">
                <select id="queue" name="queue" onchange="this.form.submit()">
                    <option value="NA" {% if queue=='NA' %}selected{% endif %}>NA</option>
                    <option value="EU" {% if queue=='EU' %}selected{% endif %}>EU</option>
                    <option value="2v2" {% if queue=='2v2' %}selected{% endif %}>2v2</option>
                </select>                
            </form>
        </td>
    </tr>
</table>
<div class="accuracy-container">
    <h2>Accuracy Metrics ({{ queue }})</h2>
    <table>
        <tr>
            <th>Criteria</th>
            <th>All Games (Excluding Ties)</th>
            <th>Last 90 Days or Last 10%</th>
        </tr>
        <tr>
            <td>All Games</td>
            <td>{{ "%.2f"|format(accuracy_data['all'][0]*100) }}% ({{ accuracy_data['all'][1] }}/{{ accuracy_data['all'][2] }})</td>
            <td>{{ "%.2f"|format(accuracy_data['all_90'][0]*100) }}% ({{ accuracy_data['all_90'][1] }}/{{ accuracy_data['all_90'][2] }})</td>
        </tr>
        <tr>
            <td>Above 55% Win Chance</td>
            <td>{{ "%.2f"|format(accuracy_data['above_55'][0]*100) }}% ({{ accuracy_data['above_55'][1] }}/{{ accuracy_data['above_55'][2] }})</td>
            <td>{{ "%.2f"|format(accuracy_data['above_55_90'][0]*100) }}% ({{ accuracy_data['above_55_90'][1] }}/{{ accuracy_data['above_55_90'][2] }})</td>
        </tr>
        <tr>
            <td>Above 60% Win Chance</td>
            <td>{{ "%.2f"|format(accuracy_data['above_60'][0]*100) }}% ({{ accuracy_data['above_60'][1] }}/{{ accuracy_data['above_60'][2] }})</td>
            <td>{{ "%.2f"|format(accuracy_data['above_60_90'][0]*100) }}% ({{ accuracy_data['above_60_90'][1] }}/{{ accuracy_data['above_60_90'][2] }})</td>
        </tr>
        <tr>
            <td>Above 65% Win Chance</td>
            <td>{{ "%.2f"|format(accuracy_data['above_65'][0]*100) }}% ({{ accuracy_data['above_65'][1] }}/{{ accuracy_data['above_65'][2] }})</td>
            <td>{{ "%.2f"|format(accuracy_data['above_65_90'][0]*100) }}% ({{ accuracy_data['above_65_90'][1] }}/{{ accuracy_data['above_65_90'][2] }})</td>
        </tr>
    </table>
</div>



<div class="table-container">
    <table>
        <tr>
            <th>Team 1</th>
            <th>Match Info</th>
            <th>Team 2</th>
        </tr>

        {% for match in match_data %}
        {% set background_url = map_url_mapping.get(match.maps[0], map_url_mapping['N/A']) if match.maps else map_url_mapping['N/A'] %}
        {% set player_found_team1 = false %}
        {% for player in match.teams[0] %}
            {% if player['user']['name'] == player_name %}
                {% set player_found_team1 = true %}
            {% endif %}
        {% endfor %}
        {% set player_found_team2 = false %}
        {% for player in match.teams[1] %}
            {% if player['user']['name'] == player_name %}
                {% set player_found_team2 = true %}
            {% endif %}
        {% endfor %}
        <tr>
            <td>
                <ul class="player-list {{ 'win' if match.winning_team == 1 else ('loss' if match.winning_team == 2 else 'tie') }} {{ 'emphasized-outcome' if player_found_team1 }}">
                    {% for player in match.teams[0] %}
                    <li class="{% if player['captain'] == 1 %}captain{% endif %} {% if player['user']['name'] == player_name %}highlighted-player{% endif %}">
                        {{ player['user']['name'] }} {% if player['captain'] == 1 %}(c){% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
            <td class="match-info" style="position: relative;">
                <div style="
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url('{{ background_url }}');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    z-index: -1;
                    background-color: rgba(255, 255, 255, 0.123);
                    -webkit-mask-image: -webkit-radial-gradient(center center, circle, rgba(0,0,0,1) 0%, transparent 70%);
                "></div>
                <div class="date-time-container centered-text">
                    <strong>Map(s):</strong> {{ ", ".join(match.maps) if match.maps else "N/A" }}
                </div>                
                <span class="match-id">ID: {{ match.index }}</span>
                <div class="date-time-container centered-text">
                    {{ match.date.split()[1] }}<br> <!-- This assumes the date format is "YYYY-MM-DD HH:MM:SS" -->
                    {{ match.date.split()[0] }}
                </div>
                <div class="stats-container left">
                    ts: <span {% if match['team1_avg_trueskill']> match['team2_avg_trueskill'] %}style="font-weight:
                        bold;"{% endif %}>{{ "%.2f"|format(match['team1_avg_trueskill']) }}</span><br>
                    μ: <span {% if match['team1_avg_mu']> match['team2_avg_mu'] %}style="font-weight: bold;"{% endif
                        %}>{{ "%.2f"|format(match['team1_avg_mu']) }}</span><br>
                    σ: <span {% if match['team1_avg_sigma'] < match['team2_avg_sigma'] %}style="font-weight: bold;" {%
                        endif %}>{{ "%.2f"|format(match['team1_avg_sigma']) }}</span>
                </div>
                <div class="stats-container right">
                    <span {% if match['team2_avg_trueskill']> match['team1_avg_trueskill'] %}style="font-weight:
                        bold;"{% endif %}>{{ "%.2f"|format(match['team2_avg_trueskill']) }}</span> :ts<br>
                    <span {% if match['team2_avg_mu']> match['team1_avg_mu'] %}style="font-weight: bold;"{% endif %}>{{
                        "%.2f"|format(match['team2_avg_mu']) }}</span> :μ<br>
                    <span {% if match['team2_avg_sigma'] < match['team1_avg_sigma'] %}style="font-weight: bold;" {%
                        endif %}>{{ "%.2f"|format(match['team2_avg_sigma']) }}</span> :σ
                </div>
                <div class="win-prob-container">
                    <span {% if match.win_probability> 0.5 %}style="font-weight: bold;"{% endif %}>{{
                        (match.win_probability * 100) | round(2) }}%</span>
                    <div class="win-prob-bar {{ 'team2-favored' if match.win_probability < 0.5 else 'team1-favored' }}">
                        <div class="team1-prob" style="width: {{ match.win_probability * 100 }}%;"></div>
                    </div>
                    <span {% if match.win_probability <=0.5 %}style="font-weight: bold;" {% endif %}>{{ (100 -
                        match.win_probability * 100) | round(2) }}%</span>
                </div>
            </td>
            <td>
                <ul class="player-list {{ 'loss' if match.winning_team == 1 else ('win' if match.winning_team == 2 else 'tie') }} {{ 'emphasized-outcome' if player_found_team2 }}">
                    {% for player in match.teams[1] %}
                    <li class="{% if player['captain'] == 1 %}captain{% endif %} {% if player['user']['name'] == player_name %}highlighted-player{% endif %}">
                        {{ player['user']['name'] }} {% if player['captain'] == 1 %}(c){% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="{{ url_for('static', filename='js/match-history.js') }}"></script>
{% endblock %}