{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/route-decoder.css') }}">
{% endblock %}

{% block content %}
<div class="content-container">
<h2>Route Decoder</h2>

<form action="{{ url_for('route_decoder') }}" method="post" enctype="multipart/form-data">
  <div class="file-upload-wrapper" id="b1">
    <label for="file">Choose a Route File...</label>
    <input type="file" name="file" id="file" onchange="this.form.submit();" hidden>
  </div>
</form>

{% if data %}
<div>
    <p><strong>Loaded File: </strong>{{ filename }}</p>
    <h3>File Data:</h3>
    <p><strong>Route File Version:</strong> {{ data.routeFileVersion }}</p>
    <p><strong>Map Name:</strong> {{ data.mapName }}</p>
    <p><strong>Class Abbreviation:</strong> {{ data.classAbbr }}</p>
    <p><strong>Player Name:</strong> {{ data.playerName }}</p>
    <p><strong>Description:</strong> {{ data.description }}</p>
    <p><strong>Team Number:</strong> {{ data.teamNum }}</p>
    <p><strong>Class ID:</strong> {{ data.classID }}</p>
    <p><strong>Class Health:</strong> {{ data.classHealth }}</p>
    <p><strong>Flag Grab Time:</strong> {{ data.flagGrabTime }}</p>
    <p><strong>Route Length:</strong> {{ data.routeLength }}</p>
</div>
{% endif %}

{% if mirrored_file %}
<br>
<a href="{{ url_for('download_file', filename=mirrored_file) }}" id="b1">Download Mirrored Route</a>

{% endif %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</div>
{% endblock %}
