{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/team-calculator.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/match.css') }}">
{% endblock %}
{% block content %}
<table class="controls-table">
    <tr>
        <td style="width: 20%;">
            <form method="POST" class="player-search-form">
                <input type="text" id="player_search" name="search_query" placeholder="Search for a player"
                    value="{{ request.form['search_query'] }}">
            </form>
        </td>
        <td style="width: 40%;">
            <h2 class="header centered-text">Team Calculator</h2>
        </td>
        <td style="width: 20%;">
        <td style="width: 20%;">
            <button id="move_to_team1" class="move-button">Move to Team 1</button>
            <button id="move_to_team2" class="move-button">Move to Team 2</button>
            <button id="calculate-win-probability">Calculate Win Probability</button>
            <button id="rebalance-teams">Rebalance Teams</button>
            <div id="win-chance-display"></div>

        </td>
        </td>
        <td style="width: 20%;"></td>
    </tr>
</table>

<div class="main-wrapper">
    <!-- Rankings List (Center Left) -->
    <div class="table-container">
        <table class="ranking-table">
            <tr>
                <th style="width: 10%;">Rank</th>
                <th style="width: 40%;">Player Name</th>
                <th style="width: 15%;">Trueskill</th>
                <th style="width: 15%;">μ</th>
                <th style="width: 15%;">σ</th>
            </tr>
            {% for player in player_list %}
            <tr data-id="{{ player.id }}">
                <td>{{ player.rank }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.trueskill }}</td>
                <td>{{ player.mu }}</td>
                <td>{{ player.sigma }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- Team 1 -->
    <div class="team-container" id="team1">
        <h3>Team 1</h3>
        <ul class="player-list" id="team1-list"></ul>
    </div>

    <!-- Team 2 -->
    <div class="team-container" id="team2">
        <h3>Team 2</h3>
        <ul class="player-list" id="team2-list"></ul>
    </div>
    <div class="team-container" id="rebalanced-team1">
        <h3>Rebalanced Team 1</h3>
        <ul class="player-list" id="rebalanced-team1-list"></ul>
    </div>
    <div id="rebalanced-win-chance-display" class="win-chance-container">
        Win Chance for Rebalanced Team 1: <span id="rebalanced-win-chance">--</span>%
    </div>

    <!-- Rebalanced Team 2 -->
    <div class="team-container" id="rebalanced-team2">
        <h3>Rebalanced Team 2</h3>
        <ul class="player-list" id="rebalanced-team2-list"></ul>
    </div>
    <!-- Last Match Played (Right) -->

    <script src="{{ url_for('static', filename='js/team-calculator.js') }}"></script>
    {% endblock %}